h1{
    text-align: center;
}

main{
    display: flex;
}

#form-bolumu{
    width: 40%;
    margin: 20px;
    padding: 20px;
}

#tablo-bolumu{
    border: 1px solid;
    width: 60%;
    margin: 20px;
    padding: 20px;
}

.form-kontrol label{
    margin-left: 10px;
}

#isim{
    width: 95%;
    height: 15px;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}

#soyisim{
    width: 95%;
    height: 15px;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}

#kanton{
    width: 100%;
    height: 40px;
    padding: 4px;
    margin: 10px;
    border-radius: 4px;
}

#buton{
    float: right;
    width: 25%;
    padding: 3px;
    font-size: 20px;
    background-color: darkcyan;
    color: white;
    border-radius: 10px;
}

#buton:hover{
    cursor: pointer;
}

#tablonun-ustunun-solu{
    float: left;
}

#tablonun-ustunun-solu label{
    font-size: 20px;
}

#tablonun-ustunun-sagi{
    float: right;
    position: relative;
}

#tablonun-ustunun-sagi input{
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
}

#tablonun-ustunun-sagi .fa-searchengin{
    position: absolute;
    top: 14px;
    right: 11px;
}

#tablonun-ustunun-sagi .fa-searchengin:hover{
    cursor: pointer;
}

#tablo{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#tablo td,th{
    padding: 14px;
}

#tablo th{
    border-right: 1px solid black;
}

#tablo thead tr{
    background-color: #A6C543;
    color: white;
}

#tablo thead .fa-sort{
    float: right;
}

#tablo thead .fa-sort:hover{
    cursor: pointer;
}

#tablo tbody tr:nth-child(even){
    background-color: #f5f5f5;
}

#tablo-top{
    padding: 20px;
    margin-bottom: 20px;
}

