
body{
    background-color: #45FFD4;
}

#islem-yapilan-yer{
    font-size: 75px;
    text-align: center;
}

#islem-yapilan-yer h3{
    text-align: center;
}

#kontrol-et{
    float: right;
    margin-right: 15px;
    margin-top: 50px;
}

#ilerle{
    float: right;
    margin-top: 50px;
}

#ilk-sayi{
    display: inline;
}

#ikinci-sayi{
    display: inline;
}

#islem-yapilan-yer div h2 {
    display: inline;
}